{{- /*
  MODULE: SEO
  JSON-LD Schema: Article
  ---
  Returns schema dictionary for an article, designed for Google search.

  @link https://developers.google.com/search/docs/appearance/structured-data/article
  @link https://developers.google.com/search/docs/appearance/publication-dates
  ---
  Params:
  - .  Page context
*/ -}}

{{- $id := .Permalink -}}
{{- $json := merge (dict
	"@type" "BlogPosting"
	"isPartOf" (dict "@id" $id)
	"mainEntityOfPage" (dict "@id" $id)
	"headline" ($.Scratch.Get "OGTitle" | htmlUnescape | safeHTML | plainify)
	"wordCount" .WordCount
	"copyrightYear" (.PublishDate.Format "2006")
	"datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z0700")
	"dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z0700")
	"inLanguage" site.LanguageCode)
	(partialCached "schema/_author.html" . "default")
-}}

{{- with .Params.SearchKeywords -}}
  {{- $json = merge $json (dict
		"keywords" .) -}}
{{- end -}}

{{- /* @TODO image */ -}}

{{- if .Page.Params.Paywall -}}
	{{- $paywall := (dict
		"isAccessibleForFree" "False" ) -}}
	{{- with site.Params.Seo.PaywallClass -}}
		{{- $paywall = merge $paywall (dict
			"hasPart" (dict
			"@type" "WebPageElement"
			"isAccessibleForFree" "False"
			"cssSelector" ".locked"
		)) -}}
	{{- end -}}
	{{- $json = merge $json $paywall -}}
{{- end -}}

{{- return $json -}}
