
{{- $campaignURL := urls.Parse $.Site.Params.Socials.patreon -}}
{{- $sectionClass := "is-member-only is-hidden bg-black has-rounded-corners is-font-sans mb-3 p-2" -}}
{{- /* $.Site.Params.patreon.campaignID */ -}}
{{- $campaign := getJSON "https://www.patreon.com/api/campaigns/" "852631" -}}
{{- $tiers := dict -}}
{{- with $campaign -}}
	{{- range .included -}}
		{{- /* Grab only custom tiers, not built-ins */ -}}
		{{- if and (eq .type "reward") (gt (int .id) 0) -}}
			{{- $tiers = $tiers | merge (dict
				.id (dict
				"Title" .attributes.title
				"Summary" .attributes.description
				"Price" .attributes.amount
				"Permalink" .attributes.url
				"Banner" .attributes.image_url)
			) -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

<aside id="sidebar" data-turbo-permanent class="px-3 sidebar column is-one-third is-block">
	<div id="loader">YOU ARE SLEEPING</div>
	<button onclick="login()"
		 class="px-5 py-2 js-only is-guest-only is-hidden button bg-patreon is-block color-black is-font-sans is-uppercase has-text-weight-bold">
		{{- with resources.Get "images/icons/patreon.svg" -}}
			{{- .Content | safeHTML -}}
		{{- end -}}
		{{- "Connect with Patreon" -}}
	</button>
	<section class="{{ $sectionClass | safeHTMLAttr }} columns is-relative" aria-labelledby="patreon-info--title">
		<h2 id="patreon-info--title" class="sr-only">
			{{- i18n "patreonSidebarInfo" -}}
		</h2>
		<img id="patreon--avatar" class="p-0 column is-one-quarter has-rounded-corners" width="100" style="width:100px;"
			src="https://avatars.dicebear.com/api/adventurer-neutral/yaasdfjky.svg" alt="">
		<div role="presentation" class="pt-0 pr-0 pb-2 column" style="line-height:1.5">
			<span id="patreon-username--title"
					  class="is-uppercase is-font-sans is-size-7 is-absolute"
						style="top:-1.5rem; left:0;">
				{{- i18n "patreonSidebarSignedin" -}}
			</span>
			<p id="patreon--username"
				 aria-labelledby="patreon-username--title"
				 class="has-text-weight-bold is-size-6"></p>
			<p>
				{{- $upgradeURL := $campaignURL.JoinPath $.Site.Params.patreon.upgrade -}}
				<a id="patreon-link-upgrade" href="{{ $upgradeURL | safeURL }}">
					{{- i18n "accountUpgrade" -}}
				</a>
			</p>
			<p class="is-font-sans is-size-7">
				<button onclick="logout()">
					{{- i18n "accountSignOut" -}}
				</button>
			</p>
		</div>
	</section>
	<div id="patreon-undefined_patron" role="presentation" class="is-hidden">
		<div class="{{ $sectionClass | safeHTMLAttr }}">
			error
		</div>
	</div>
	<section id="patreon-tier" class="{{ $sectionClass | safeHTMLAttr }}" aria-labelledby="patreon-tier--title">
		<span class="is-size-7 is-uppercase">{{ "Current Membership" }}</span>
		<h2 id="patreon-tier--title" class="font-display is-size-5">
			{{- range $id, $attr := $tiers }}
				<span id="patreon-tier-{{ $id | safeHTMLAttr }}--title" class="is-hidden">
					{{ $attr.Title }} (${{ div (int $attr.Price) 100 }})
				</span>
			{{- end }}
		</h2>
		<div id="patron-active_patron">
			<h3 id="patreon-benefits--title">
				{{- "Tier Benefits:" -}}
			</h3>
			{{- range $id, $attr := $tiers }}
				{{- with $attr.Banner }}
					<img src="{{ . }}" alt="">
				{{- end }}
				<div id="patreon-tier-{{ $id | safeHTMLAttr }}" class="is-hidden">
					{{- /* (u) is a hack to get around Prettier errors 😢 */ -}}
					{{- with findRE "<(u|o)l.*?>(.|\\n)*?</(u|o)l>" $attr.Summary }}
						{{ index . 0 | safeHTML }}
					{{- else }}
						{{ $attr.Summary | safeHTML }}
					{{- end }}
				</div>
			{{- end }}
		</div>
		<div id="patron-non_patron" class="is-hidden">
			<p>{{- "Looks like you're not a member yet!" -}}</p>
			<a class="button bg-patreon is-color-black" href="/fanclub">
				{{ "Sign up" }}
			</a>
		</div>
		<div id="patron-former_patron" class="is-hidden">
			Hi
		</div>
	</section>
	<section id="patreon-info2" class="{{ $sectionClass | safeHTMLAttr }}" aria-labelledby="patreon-info2--title">
		<h2 id="patreon-info2--title" class="sr-only">
			{{- i18n "patreonSidebarInfo2" -}}
		</h2>
		{{- $infoPatreon := slice "start" "renew" -}}
		<p id="patron-declined_patron" class="is-hidden">
			{{- "Looks like your last payment via Patreon was unsuccessful. Make sure your payment methods are up to date." -}}
		</p>
		<dl class="mb-2">
			{{- range $infoPatreon }}
				<dt>{{- i18n (print "patreonSidebar" (. | title)) -}}</dt>
				<dd id="patreon--date-{{- . | anchorize -}}">1/1/00</dd>
			{{- end }}
		</dl>
		{{- $settingsPatreon := slice
		(slice "https://www.patreon.com/settings/basics" "general")
		(slice "https://www.patreon.com/settings/email" "email")
		(slice "https://www.patreon.com/pledges?ty=a" "pledges")
		(slice "https://www.patreon.com/pledges?ty=h" "billing")
		(slice "https://www.patreon.com/pledges?ty=p" "payment")
		-}}
		<ol role="list" class="is-size-7" style="line-height:1.4">
			{{- range $settingsPatreon -}}
				<li>
					<a href="{{ index . 0 }}">
						{{- i18n (print "patreonSettings" (index . 1 | title)) -}}
					</a>
				</li>
			{{- end }}
		</ol>
	</section>
</aside>
