{{- /*
	MODULE: SEO
	Function: set-title
	---
	Sets site.Scratch fields "Title" and "OGTitle". You can set the value as a
	slice of strings, and they'll be delimited with `site.Params.Seo.TitleSep`,
	ex: "Top 10 Ways to Make Pie | plasterbrain".

	"Title" is for the browser tab and search engines.

	"OGTitle" uses .Page.Params.OGTitle and is for social media.
	---
	Params:
	- .	Page context
*/ -}}

{{- $title := .Title -}}
{{- $og := .Page.Params.OGTitle | default .Title -}}
{{- $pag := partial "module-seo/functions/paginate.html" . -}}
{{- with $pag -}}
	{{ if ne .PageNumber 1 -}}
		{{- $title = i18n "moduleSeo_titlePagination" (dict
			"Title" $title "Page" .PageNumber) -}}
		{{- $og = i18n "moduleSeo_titlePagination" (dict
			"Title" $og "Page" .PageNumber) -}}
	{{- end -}}
{{- end -}}
{{- $.Scratch.Set "Title" (slice $title site.Title) -}}
{{- $.Scratch.Set "OGTitle" $og -}}
