{{- /*
	MODULE: SEO
	Function: set-schema
	---
	Sets site.Scratch field "Graph" to a list of appropriate schema dictionaries
	for the page. This is used as the "@graph" value in the page's JSON-LD.
	---
	Params:
	- .	Page context
*/ -}}

{{- $graph := (slice
  (partial "schema/webPage.html" .)
) -}}
{{- if .IsHome -}}
	{{- $graph = $graph | append
		(partial "schema/webSite.html" .)
	-}}
{{- end -}}
{{- with partial "schema/breadcrumbList.html" . }}
	{{- $graph = $graph | append . -}}
{{- end -}}
{{- $.Scratch.Set "Graph" $graph -}}
