{{- /*
	MODULE: SEO
	Function: set-canonical
	---
	Sets site.Scratch field "Canonical" to a canonical page link.

	@link https://developers.google.com/search/docs/specialty/ecommerce/pagination-and-incremental-page-loading#use-urls-correctly
	---
	Params:
	- .	Page context
*/ -}}

{{- $canonical := .Params.Canonical | default .Permalink -}}

{{- /* Handle pagination */ -}}
{{- if (partial "module-seo/functions/shouldPaginate.html" .) -}}
	{{- with (partial "module-seo/functions/paginate.html" .) -}}
		{{- $canonical = urls.JoinPath site.BaseURL .URL -}}
	{{- end -}}
{{- end -}}

{{- $.Scratch.Set "Canonical" $canonical -}}
