{{- /*
	MODULE: EMBEDS
	(Internal) Media Embed
	---
	Generic embed template used by several shortcodes. It replaces an iframe with
	an image thumbnail play button of the same size, only loading in the external
	resource when the button is clicked.

	@TODO I think this one is ducked up
	@TODO Javascript
	@TODO bottom and right classes?
	---
	Params:
	- .Iframe			Raw widget iframe element
	- .Id					ID used in the iframe
	- .Link				Link to the resource, used for `<noscript>` content
	- .Title			Title of this content (video, song, etc.)
	- .Thumbnail	Preview thumbnail (album image, etc.) for this content
	- .Icon				Basename of the wordmark icon to show (ex. "bandcamp")
	- .Class			Full class attribute to add to the enclosing `<figure>`
	- .Style			Full style attribute to add to the enclosing `<figure>`
*/ -}}
{{- $iframe := .iframe -}}
{{- $id := .Id -}}
{{- $thumbnail := .Thumbnail -}}
{{- $title := .Title -}}
{{- $icon := .Icon -}}
{{- $class := .Class -}}
{{- $style := .Style -}}

{{- $titleClass := "embed--title" -}}
{{- if not (site.Params.Embeds.showTitles | default true) -}}
	{{- $titleClass = "sr-only" -}}
{{- end -}}
{{- $titleClass = printf `class="%s"` $titleClass -}}

{{- $buttonClass := "" -}}
{{- with site.Params.Embeds.ButtonClass -}}
	{{- $buttonClass = printf `class="%s"` . -}}
{{- end -}}

{{- $play := "play" -}}
{{- $play = partialCached "functions/get-icon.html"
	(dict "Icon" $play) $play -}}

<figure {{ $class | safeHTMLAttr }} {{ $style | safeHTMLAttr -}}>
	{{- $iframe | safeHTML -}}
	<button data-target="{{- $id -}}"
					{{ $buttonClass | safeHTMLAttr }}
					style="background-image: url('{{- $thumbnail | safeCSS -}}');">
		{{- $play | safeHTML -}}
		<span {{ $titleClass | safeHTMLAttr -}}>
			{{- $title | safeHTML -}}
		</span>
	</button>

	{{- $link := .Link -}}
	{{- $rel := "nofollow noopener noreferrer" -}}
	<noscript>
		<a href="{{- $link | safeURL -}}" rel="{{- $rel -}}">
			{{- $play | safeHTML -}}
			{{- $title | safeHTML -}}
		</a>
	</noscript>

	{{- with $icon -}}
		<span class="absolute z-20 w-fit" style="bottom: .5rem; right: .5rem;">
			{{- /* Wordmark indicating third-party site this is from */ -}}
			{{- with partialCached "functions/get-icon.html"
				(dict "Icon" .) . -}}
				{{- . | safeHTML -}}
			{{- end -}}
		</span>
	{{- end }}
</figure>
