{{- /*
	MODULE: ICONS
	(Function) get-icon
	---
	Fetches, executes, and returns a given icon in site.Params.Images.Icons.Path.
	---
	Params:
	- .Icon		Icon basename, ex. "twitter" for "twitter.svg"
*/ -}}

{{- $svg := "" -}}
{{- $path := site.Params.Images.Icons.Path | default "assets/images/%s.svg" -}}
{{- with resources.GetMatch (printf $path .Icon) -}}
	{{- $svg = . | resources.ExecuteAsTemplate "icon.svg" . -}}
	{{- $svg = $svg.Content -}}
{{- else -}}
	{{- warnf "Images: Couldn't find icon `%s`" (printf $path .Icon) -}}
{{- end -}}
{{- return $svg -}}
