@utility embed {
  /** Appears as a thumbnail which loads the resource when clicked.
	 * .embed--button					- "Click to..." text and play button icon
	 * .embed--button::before	- Black overlay between background and text
	 */
  @apply relative overflow-hidden;

  .embed--button {
    @apply bg-no-repeat bg-center h-full absolute top-0 w-full z-10;
    background-size: 100%;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      color: #fff;
    }

    &::before {
      background: rgba(0, 0, 0, 0.8);
      content: '';
      @apply block h-full w-full absolute top-0;
    }

    .embed--button__text {
      @apply relative z-10;
      max-width: 180px;
    }
  }
}

@utility player {
  border: 3px solid transparent;
  border-image: linear-gradient(
    to top left,
    rgb(var(--purple)) 0%,
    rgb(var(--yellow)) 75%,
    rgb(var(--pink)) 100%
  );
  border-image-slice: 1;

  .player--button {
    svg {
      @apply w-40 h-40;
      filter: drop-shadow(1px 1px 0 rgb(var(--black)))
        drop-shadow(1px 1px 0 rgb(var(--black)));
      stroke: rgb(var(--black));
    }

    &:hover,
    &:focus-visible {
      svg {
        @apply fill-yellow;
      }
    }
  }
}
