{{- /*
  MODULE: SEO
  (Unused, untested) JSON-LD Schema: CollectionPage
  ---
  Returns schema dictionary for a listing/archive page.
  ---
  Params:
  - .  Page context
*/ -}}

{{- $id := .Permalink -}}
{{- $descs := (partialCached "module-seo/functions/get-description.html" . .RelPermalink) -}}
{{- $json := dict
	"@id" $id
	"url" (partialCached "module-seo/functions/get-canonical.html" . .RelPermalink)
	"name" ($.Scratch.Get "OGTitle")
	"description" ($descs.Description)
	"isPartOf" (print site.BaseURL "#website")
-}}

{{- $type := slice "CollectionPage" -}}
{{- if eq .Params.Layout (site.Params.Seo.SearchPageLayout) -}}
	{{- $type = $type | append "SearchResultsPage" -}}
{{- end -}}
{{- $json = merge $json (dict
	"type" $type
) -}}

{{- $cover := $.Scratch.Get "OGCover" -}}
{{- if $cover -}}
	{{- $imageId := print .Permalink "#primaryimage" -}}

	{{- $license := .Params.Cover.License -}}
	{{- $credit := .Params.Cover.Credit -}}
  {{- /* @NOTE This does not check if path is invalid */ -}}
	{{- with .Params.OGCover.Image -}}
		{{- $license = .Params.OGCover.License -}}
		{{- $credit = .Params.OGCover.Credit -}}
	{{- end -}}
	{{- $image := partialCached "module-seo/schema/_image.html" (dict
		"Image" $cover
		"License" $license
		"Credit" $credit
	) $cover.RelPermalink -}}
	{{ $image = merge $image (dict
		"@id" $imageId
	) -}}

	{{- $json = merge $json (dict
		"image" $image
		"primaryImageOfPage" (dict "@id" $imageId)
	) -}}
{{- end -}}

{{- return $json -}}
