{{- /*
  MODULE: SEO
  JSON-LD Schema: WebPage
  ---
  Returns schema dictionary for a generic web page.
  ---
  Params:
  - .  Page context
*/ -}}

{{- $id := .Permalink -}}
{{- $titles := (partialCached "module-seo/functions/get-title.html" . .RelPermalink) -}}
{{- $json := (dict
	"@type" "WebPage"
	"@id" $id
	"url" (partialCached "module-seo/functions/get-canonical.html" . .RelPermalink)
	"name" $titles.Title
	"isPartOf" (dict
		"@id" (print site.BaseURL "#website"))
	"datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z0700")
	"dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z0700")
	"potentialAction" (slice (dict
		"@type" "ReadAction"
		"target" $id)))
-}}

{{- return $json -}}
