{{- /*
	MODULE: EMBEDS
	Shortcode: Generic Website Embed
	---
	@link https://supercookie.me/workwise
	---
	Params:
	- . 	URL to embed
*/ -}}

{{- $url := . -}}
{{- $api := print "https://api.microlink.io?" (querify
	"url" $url
	"filter" "image,title,publisher,description,date,logo") -}}

{{- with try (resources.GetRemote $api) -}}
	{{ with .Err }}
	{{- /* API lookup unsuccessful */ -}}
		{{- warnf "Embeds: %s" . }}
	{{- else with .Value }}
		{{- $data := . | transform.Unmarshal -}}
		{{- partialCached "module-embeds/widgets/generic/_markup.html" (dict
			"Data" $data.data
			"Url" $url
		) $url -}}
	{{- end -}}
{{ else }}
	{{- /* API 1 bad URL? */ -}}
	{{- warnf "Embeds: failed to embed url %q" $url -}}
{{- end -}}

{{- define "partials/module-embeds/widgets/generic/_markup.html" -}}
{{- $data := .Data -}}
{{- $url := .Url -}}
{{- $parsedUrl := urls.Parse $url -}}
{{- $host := $parsedUrl.Hostname -}}

{{- $imageDir := site.Params.Embeds.ImageDir | default "assets" -}}

<a href="{{- $url | safeURL }}" class="opacity-hover not-prose bg-[#fff]">
	<figure class="mb-4 rounded-md border md:flex border-gray">
		<div style="width:200px;" class="mx-auto">
		{{- /* Pretend we are a browser to bypass anti-scraping measures 🤓
		@link https://stackoverflow.com/questions/61835224/getting-the-remote-server-returned-an-error-403-forbidden-error-whatever-i */ -}}
		{{- $opts := dict
			"headers" (dict
				"User-Agent" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:136.0) Gecko/20100101 Firefox/136.0"
				"Accept-Encoding" "gzip, deflate, br, zstd"
				"Accept" "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
				"Accept-Charset" "ISO-8859-1"
			) -}}
		{{- $hadImage := false -}}
		{{- with try (resources.GetRemote $data.image.url $opts) -}}
			{{- with .Err -}}
				{{- warnf "Embeds: %s" . -}}
			{{- else with .Value -}}
				{{- /* In case Images module DNE */ -}}
				{{- with try (partial "partials/module-images/picture.html" (dict
					"Image" .
					"Width" 200
					"Height" 155
					"ImgClass" (slice "object-cover h-full")
					"IsAlpha" false
					"Name" (path.Join $imageDir .Name)
				)) -}}
					{{- with .Err -}}
						{{- warnf "Embeds: Image Module not installed!" -}}
					{{- else -}}
						{{- .Value | safeHTML -}}
						{{- $hadImage = true -}}
					{{- end -}}
				{{- end -}}
			{{- end -}}
		{{- end -}}
		{{- if not $hadImage -}}
			<img src="{{- $data.image.url -}}" alt="" width="200" height="155" class="object-cover h-full">
		{{- end -}}
	</div>
		<figcaption class="flex flex-col p-4 pl-6 flex-2">
			<p class="text-lg font-semibold leading-relaxed line-clamp-2 text-ellipsis">
				{{- /* Page title minus the site name */ -}}
				{{- replace $data.title (print $data.publisher " - ") "" -}}
			</p>
			<p class="my-2 mb-2 text-xs leading-relaxed card--desc line-clamp-2 text-ellipsis">
				{{- $data.description | truncate 125 -}}
			</p>

			{{- $pubLogo := $data.logo.url -}}
			{{- $logodev := site.Params.Embeds.Api.logodev -}}
			{{- if $logodev -}}
				{{- with try (resources.GetRemote (printf "https://img.logo.dev/%s?token=%s" $host $logodev)) -}}
					{{- with .Err -}}
						{{- warnf "Embeds: %s" . -}}
					{{- else with .Value -}}
						{{- with resources.Copy (path.Join $imageDir .Name) . -}}
							{{- $pubLogo = .RelPermalink -}}
						{{- end -}}
					{{- end -}}
				{{- end -}}
			{{- end -}}
			<span class="text-xs{{- if $pubLogo }} flex items-center {{- end -}}">
				<img src="{{- $pubLogo -}}" width="22" height="22" alt="" class="mr-1"/>
				{{- $data.publisher -}}
				<span aria-hidden="true">&nbsp;&middot;&nbsp;</span>
				<time datetime="{{- $data.date -}}">
					{{- time.Format ":date_long" $data.date -}}
				</time>
			</span>
		</figcaption>
	</figure>
</a>
{{- end -}}
