{{- /*
	MODULE: EMBEDS
	Shortcode: Tenor Gif
	---
	@NOTE Gifs have IDs so they can be used to describe the Tenor attribution link for screenreaders.
	Don't call this template with the same gif more than once on the same page or you'll have duplicate IDs.

	With site.Params.Embeds.Tenor.UseVideo set to true (default), it will use video format.

	@link https://developers.google.com/tenor/guides/quickstart
	@link http://kb.daisy.org/publishing/docs/html/video.html
	@link https://web.dev/articles/lazy-loading-video
	---
	Params:
	- .ID		Tenor image/post ID (int)
	- .Alt
	- .Caption
	- .Class
*/ -}}
{{- $id := .ID -}}
{{- $alt := .Alt | default "" -}}
{{- $caption := .Caption | default "" -}}
{{- $class := "" -}}
{{- with .Class -}}
	{{- $class = (print " " .) | htmlEscape | safeHTML | htmlUnescape | plainify -}}
{{- end -}}

{{- $key := site.Params.Embeds.Api.Tenor -}}
{{- $isVideo := site.Params.embeds.tenor.UseVideo | default true -}}

{{- $url := "" -}}
{{- $title := "" -}}
{{- $image := "" -}}
{{- $videos := dict -}}
{{- $preview := "" -}}
{{- $width := 100 -}}
{{- $height := 100 -}}
{{- $mediaFilter := cond $isVideo "mp4,webm,preview" "gif,preview" -}}
{{- with $key -}}
	{{- $params := querify
		"ids" $id
		"key" .
		"media_filter" $mediaFilter
	-}}
	{{- $remote := print "https://tenor.googleapis.com/v2/posts?" $params -}}

	{{ with try (resources.GetRemote $remote) }}
		{{ with .Err }}
			{{ warnf "%s" . }}
		{{ else with .Value }}
			{{ $data := . | transform.Unmarshal }}
			{{- with $data -}}{{- with .results -}}{{- with (index . 0) -}}
				{{- $url = .itemurl -}}
				{{- /* Might need more checks, idk if tags can return blank or not a slice */ -}}
				{{- $title = .title | default (i18n "tenor_gif_title" (title (delimit (first 2 .tags) " "))) -}}
				{{- $alt = $alt | default .content_description -}}
				{{- if $isVideo -}}
					{{- $_vid := . -}}
					{{- range (slice "webm" "mp4") -}}
						{{- $format := . -}}
						{{- with (index $_vid.media_formats $format) -}}
							{{- $videos = $videos | merge (dict $format .url) -}}
							{{- $width = (index .dims 0) -}}
							{{- $height = (index .dims 1) -}}
						{{- end -}}
					{{- end -}}

				{{- else -}}
					{{- with (index .media_formats "gif") -}}
						{{- $image = .url -}}
						{{- $width = (index .dims 0) -}}
						{{- $height = (index .dims 1) -}}
					{{- end -}}
				{{- end -}}

				{{- with (index .media_formats "preview") -}}
					{{- $preview = .url -}}
				{{- end -}}
			{{- end -}}{{- end -}}{{- end -}}
		{{- end -}}
	{{ else }}
		{{ warnf "Unable to get Tenor resource %q" $url }}
	{{- end -}}
{{- end -}}

{{- /* @NOTE: Do not trim whitespace from the below line: */ -}}
{{ $cacheKey := print "tenor-" $id }}
<figure class="embed embed-tenor{{- $class | safeHTMLAttr -}}" style="max-width: {{ $width | safeHTMLAttr -}}px;">
	{{- if $isVideo -}}
		<video id="{{- $cacheKey -}}" aria-label="{{- $title | htmlEscape | safeHTML | htmlUnescape | plainify -}}" class="mb-2 rounded-md" width="{{- $width -}}" height="{{- $height -}}" controls autoplay muted playsinline loop controlsList="nofullscreen noremoteplayback noplaybackrate nodownload" disablePictureInPicture aria-details="{{- $cacheKey -}}--det"{{- with $preview }} poster="{{- . -}}"{{- end -}}>
			{{- range $format, $url := $videos -}}
				<source src="{{- $url -}}" type="video/{{- $format -}}">
			{{- end -}}
			<a href="{{- $url | safeURL -}}">{{- $title | htmlUnescape | safeHTML -}}</a>
		</video>
		{{- /* @NOTE For some reason Reader View was still picking this up using just "sr-only" */ -}}
		<div id="{{- $cacheKey -}}--det" class="sr-only skyscraper">
			{{- $alt | htmlUnescape | safeHTML -}}
		</div>
	{{- else -}}
		{{- $imageOpts :=  (dict
			"Image" $image
			"Sources" (slice $preview)
			"Lazy" true
			"Alt" $alt
			"Width" $width
			"Height" $height
			"ImgClass" (slice "w-full")
			"ImgAtts" (dict "id" $cacheKey)
		) -}}
		{{- with try (partial "partials/module-images/url-to-image.html" $imageOpts) -}}
			{{- with .Err -}}
				{{- warnf "Embeds: Image Module not installed!" -}}
			{{- else -}}
				{{- .Value | safeHTML -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}
	<figcaption class="flex justify-between ml-auto font-cursive">
		<span>
			{{- with $caption -}}
				{{- . | safeHTML -}}
			{{- end -}}
		</span>
		{{- /* https://tenor.com/gifapi/documentation#attribution */ -}}
		<a href="{{- $url | safeURL -}}" rel="nofollow noreferrer" aria-describedby="{{- $cacheKey -}}" class="min-w-max opacity-hover">
			{{- $iconName := "tenor-via" -}}
			{{- with partialCached "module-images/functions/get-icon.html" (dict
				"Icon" (path.Join "logos/" $iconName)
			) $iconName -}}
				{{- . | safeHTML -}}
			{{- else -}}
				{{- i18n "tenor_wordmark_alt" | safeHTML -}}
			{{- end -}}
		</a>
	</figcaption>
</figure>
