{{- /*
	MODULE: EMBEDS
	YouTube embed
	---
	@link https://github.com/paulirish/lite-youtube-embed?tab=readme-ov-file
	---
	Params:
	- .		Video URL to embed. Params go on the end of the url.
*/ -}}

{{- $url := . -}}

{{- $api := print "https://www.youtube.com/oembed?" (querify
	"format" "json"
	"url" $url) -}}

{{- with try (resources.GetRemote $api) -}}
	{{- with .Err -}}
		{{- /* API lookup unsuccessful */ -}}
		{{- warnf "Embeds: %s" . -}}
	{{- else with .Value -}}
		{{- $data := . | transform.Unmarshal -}}

		{{- $params := (urls.Parse $url).Query -}}
		{{- $id := index $params.v 0 -}}

		{{- /* Hacky way to get all non-video (?v=) query params */ -}}
		{{- $_params := "" -}}
		{{- range $k, $v := $params -}}
			{{- if ne $k "v" -}}
				{{- $_params = print $_params (printf `%s=%s` $k (delimit $v ",")) "&" -}}
			{{- end -}}
		{{- end -}}
		{{- $params = strings.TrimSuffix "&" $_params -}}

		{{- partialCached "module-embeds/widgets/youtube/markup.html" (dict
			"Id" $id
			"Params" $params
			"Data" $data
			"Url" $url) $id -}}
	{{- end -}}
{{- else -}}
	{{- /* API bad URL? */ -}}
	{{- warnf "Embeds: failed to embed YouTube video %q" $url -}}
{{- end -}}

{{- define "partials/module-embeds/widgets/youtube/markup.html" -}}
	{{- $imageDir := site.Params.Embeds.ImageDir | default "assets" -}}

	{{- $id := .Id -}}
	{{- $data := .Data -}}
	{{- $url := .Url -}}
	{{- $params := .Params -}}
	{{- $thumbnail := resources.GetRemote $data.thumbnail_url -}}
	{{- /* @NOTE Image template below will copy resource and make this a real permalink: */ -}}
	{{- $filename := path.Join $imageDir $id -}}
	{{- $style := printf `style="background-image:url('%s');"`
		(relURL (path.Join (print $filename ".jpg"))) -}}
	{{- $class := site.Params.Embeds.Youtube.Class | default "js-only" -}}
	{{- $class = delimit (uniq (split $class " ")) " " -}}

	<lite-youtube class="{{- $class -}}" videoid="{{- $id -}}" {{- with $params }} params="{{- . -}}"{{- end }} {{ $style | safeHTMLAttr }}>
		<button class="js-only lty-playbtn" type="button">
			<span class="sr-only lty-title" role="presentation">
				{{- i18n "moduleEmbeds_play" $data.title | htmlUnescape | safeHTML -}}
			</span>
		</button>
	</lite-youtube>
	{{- /* Humman noscript version for JS haters */ -}}
	<noscript data-nosnippet="true">
		<div class="relative aspect-video">
			{{- $imageOpts := (dict
				"Image" $thumbnail
				"Name" $filename
				"Class" (slice "aspect-video")
				"ImgClass" (slice "mx-auto rounded-md")
				"IsAlpha" false
			) -}}
			{{- with try (partial "partials/module-images/picture.html" $imageOpts) -}}
				{{- with .Err -}}
					{{- warnf "Embeds: Image Module not installed!" -}}
				{{- else -}}
					{{- .Value | safeHTML -}}
				{{- end -}}
			{{- end -}}

			<div class="absolute inset-0 p-4 w-full h-full bg-black bg-opacity-70 centered">
				{{- $iconName := "youtube-wordmark" -}}
				{{- partialCached "module-images/icon.html" (dict
					"Icon" (path.Join "logos/" $iconName)
					"i18n" "moduleEmbeds_youtube")
				$iconName -}}
				<a href="{{- $url | safeURL -}}" class="p-2 mt-2 font-bold bg-black opacity-hover">
					{{- $data.title | htmlUnescape | safeHTML -}}
				</a>
				<span>{{- i18n "moduleEmbeds_ytNoscript" | htmlUnescape | safeHTML -}}</span>
			</div>
		</div>
	</noscript>
{{- end -}}
