{{- /*
	MODULE: EMBEDS
	(Shortcode) SoundCloud Player
	---
  Converts a SoundCloud link into an embedded player. (Jimmy Cha voice) SIMPLE!
	---
  - 0		SoundCloud URL.
*/ -}}

{{- $url := .Get 0 -}}
{{- with getJSON
	"https://soundcloud.com/oembed?" (querify
		"format" "json"
		"url" $url
		"auto_play" "true") -}}
	{{- $id := (urls.Parse $url).Path | anchorize -}}
	{{- $iframe := .html -}}
	{{- $iframe = replace $iframe " src=" (printf " id=\"%s\" class=\"hidden\" data-src=" $id) -}}
	{{- partial "_media-embed.html" (dict
		"Link" $url
		"Id" $id
		"iframe" $iframe
		"Thumbnail" .thumbnail_url
		"Title" .title
		"Icon" "soundcloud-wordmark"
		"Style" `style="height: 200px;"`
		) -}}
{{- end }}
