#---
# MODULE: SOCIAL
#---

[params.social]
useOpenID = false

# https://web.dev/articles/web-share
showWebShareButton = true

# Settings for share links getter and built-in "Share this post" widget
[params.social.share]
links = ["bluesky", "reddit", "mastodon"]
# Default Share Widget:
useColors = true # Whether to use brand color backgrounds and black or white text
showLabels = true # Whether to show button labels on medium and above breakpoints
# Class value. Use `{$network}` to sub in the social media network name.
buttonClasses = "opacity-hover button-social gap-1 bg-{$network}"

[params.social.bridgy]
useFed = false

[params.social.webmentions]
enabled = true
limit = 5 # -1 to disable
showDates = false
showReplies = false
showSource = false

[params.social.profiles]
#email = ""
#facebook = ""
#github = ""
#gonkle = ""
#instagram = ""
#microblog = ""
#twitter = ""
#email = "" # Adds rel="me" link for IndieAuth

#[params.social.profiles.mastodon]
#username = ""
#server = ""
# Let users discover you as any username @ your Hugo site's domain name.
#alias = true

[outputs]
home = [ "HTML", "RSS", "webfinger"]

[outputFormats]
[outputFormats.webfinger]
	baseName = "webfinger"
	mediatype = "application/octet-stream"
	path = ".well-known"
	notAlternative = true

[module.hugoVersion]
	extended = true
	min = "0.141.0"

[module]
[[module.imports]]
	path = "github.com/plasterbrain/hugo-modules/feed"
[[module.imports]]
	path = "github.com/plasterbrain/hugo-modules/images"
[[module.imports]]
	path = "github.com/plasterbrain/hugo-modules/internals"