{{- /*
	MODULE: PATREON-AUTH0
	---
	Loads scripts for Patreon/Auth0 authentication in the page footer.

	@TODO BABE WHAT AND WHERE IS AUTH0.JS
*/ -}}
<script type="module">
	import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
</script>
<script id="auth" data-turbo-permanent src="/assets/js/auth0.js"></script>
{{- with resources.Get "/assets/patreon_auth0.js" }}
	{{ $js := . | resources.Minify }}
	{{- $callback := urls.Parse $.Site.BaseURL -}}
	{{- $callback = $callback.JoinPath $.Site.Params.pages.patreon -}}
	{{- /* @TODO Make the print conditional if prod doesn't use trailing slash */ -}}
	{{- $callback = print $callback "/" -}}
	{{- /* Behold: this is how professionals import variables into JS. */ -}}
	<script data-turbo-permanent id="patreon">
		{{ replace $js.Content "CALLBACK_URL" $callback | safeJS }}
	</script>
{{- end }}
